header {
    background-color: rgb(168, 168, 134);
    padding: 5px 0;
    text-align: center;
    height: 150px;
}

.welcome,
.lifeMotto {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 人生格言 */
.lifeMotto {
    line-height: 100px;
    font-size: 40px;
    font-family: 仿宋, 宋体, 黑体;
}


/* 欢迎语 */
.welcome {
    line-height: 50px;
    font-size: 20px;
    font-family: 仿宋, 宋体, 黑体;
    background-color: rgb(221, 221, 215);
}

nav {
    background-color: rgb(168, 178, 154);
    height: 40px;
    text-align: center;
    line-height: 40px;

}

.navigation {
    width: 300px;
    height: 40px;
    background-color: rgb(168, 178, 154);
    text-align: center;
    margin: 0 auto;
}

.navigation,
.navList {
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}

.navList {
    float: left;
    width: 100px;
    background-color: rgba(198, 188, 174, 0.8);
    ;
}

.navAction {
    font-family: 仿宋, 宋体, 黑体;
    font-size: 20px;
}

.mainSpace {
    top: 100px;
    width: 800px;
    height: 800px;
    background-color: rgb(177, 156, 87);
    margin: 0 auto;
    position: relative;
    padding: .625rem;
}

.letterBox {
    height: 100px;
    background-color: rgb(176, 184, 167);
    margin: 0 auto;
}


/* 1. <footer>
用途: 定义页面或部分的底部内容。
内容: 通常包含版权信息、联系信息、法律声明或网站的其他底部链接。
2. <nav>
用途: 定义导航链接部分。
内容: 包含导航菜单、链接、以及网站的导航结构。
3. <section>
用途: 定义文档中的一个区域或部分，通常用于主题相关的内容。
内容: 可以包含标题（<h1>到<h6>）、段落、图像等内容。
4. <article>
用途: 定义独立的内容块，通常用于独立的、完整的内容，如博客文章、新闻文章等。
内容: 包含标题、作者、日期、内容等。
5. <aside>
用途: 定义与主内容相关但附加的内容，例如侧边栏、引用或广告。 
内容: 可以包括引用、附加信息或相关链接。
*/